.new-workout {
  text-align: center;
}

.workout-list {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workout-list > li {
  margin-bottom: 10px;
  overflow: hidden;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  width: 250px;
}