<!DOCTYPE html>
<html>
<head>
  <title>Gym</title>
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="index.html" class="active">Workouts</a></li>
      <li><a href="templates.html">Templates</a></li>
      <li><a href="exercises.html">Exercises</a></li>
      <li><a href="progress.html">Progress</a></li>
    </ul>
  </nav>
  <section>
    <div>
      <button class="new-workout">NEW</button>
    </div>
    <div class="workouts">
      <div class="workout">
        <span>
          Monday 15th June
        </span>
        <ul>
          <li>Bench Press <span>55kg x 10</span></li>
          <li>Squat <span>67.5kg x 8</span></li>
        </ul>
      </div>
      <div class="workout">
        <span>
          Monday 8th June
        </span>
        <ul>
          <li>Bench Press <span>55kg x 10</span></li>
          <li>Squat <span>67.5kg x 8</span></li>
        </ul>
      </div>
      <div class="workout">
        <span>
          Monday 1st June
        </span>
        <ul>
          <li>Bench Press <span>55kg x 10</span></li>
          <li>Squat <span>67.5kg x 8</span></li>
        </ul>
      </div>
    </div>
  </section>
</body>
</html>